body{
    background: #fff;
    overflow: hidden;
}
canvas{
    background: #eee;
}
.toolbox{
    position:fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 100vh;
    background: #eee;
}

.playbox {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 100px);
    width: 200px;
    height: 40px;
    background: #eee;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
    i {
        font-size: 30px;
        padding: 5px;
        color: #000;
        text-shadow: 2px 0 2px rgb(0 0 0 / 40%), 0 2px 2px rgb(0 0 0 / 40%);
    }

.tool {
    width: 40px;
    height: 40px;
}
    .tool:hover {
        background: #ccc;
    }
    .tool.active{
        background: #11876a;
    }
.tool-save {
    position: absolute;
    bottom: 40px;
    padding: 0 0 0 1px;
}
.tool-exit {
    position: absolute;
    bottom: 0px;
    padding: 0 0 0 4px;
}
